<mat-card>
  <mat-card-title> Submissions </mat-card-title>
  <mat-card-content>
    <mat-list data-cy="widgets-list">
      <mat-list-item>
        <span matLine>Nom </span>
        <button mat-icon-button type="button" color="warn">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <span matLine>Nom </span>
        <button mat-icon-button type="button" color="warn">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <span matLine>Nom </span>
        <button mat-icon-button type="button" color="warn">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
